.fretboard {
    padding: 2px 2px var(--space-6) 2px;
}

.fretboard__string_cell {
    width: 50%;
    padding-left: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fretboard__dot {
    width: 1vh;
    height: 1vh;
    flex-shrink: 0;
    border-radius: 100%;
    background-color: var(--gray-12);
}
