.group {
    flex-shrink: 0;
    padding: var(--space-4);
    height: 100%;
}

.group__column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--space-3);
}

.group__row {
    display: flex;
    gap: var(--space-3);
}

.scale__notes_list__sharp {
    color: var(--grass-10);
}

.scale__notes_list__flat {
    color: var(--tomato-10);
}
